package templates

import "closeauth-backend-for-frontend/internal/templates/components/closeauth_sidebar"
import templates "closeauth-backend-for-frontend/internal/templates"

templ AdminLayout(activePage string) {
	@templates.Base() {
		@closeauth_sidebar.CloseAuthSidebar(activePage) {
			{ children... }
		}
	}
}